body {
  background-color:#f4ebc1;
}
hr {
  border-style: none;
  border-top-style:dotted;
  border-color:#ea907a;
  border-width:5px;
  width: 5%
}
h1 {
  color:#709fb0
}
h3 {
  color:#709fb0
}
img {
  width:150px;
  height:150px;
}
